/* GRID */

/*Aplicamos estilo*/

.item {
    background-color: #87cefa;
    border: 1px solid black;
}

.item p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/*CONTENEDOR PADRE*/

.gridPadre {
    display: grid;
    /*Activamos el sistema*/

    grid-template-columns: repeat(2, 1fr);
    /*La cantidad de columnas que quiero que tenga*/
    /*Pueden colocar la unidad de medida que quieran*/
    /*Grid tiene su propia unidad de medida: fr*/
    /*tambien tenemos una herramienta que nos permite repetir configuraciones: repeat() */

    grid-template-rows: 200px 200px 200px;

    gap: 10px;
    /*gap me genera un espacio entre columnas y/o filas*/

    row-gap: 15px;
    column-gap: 5px;

    /** PROPIEDADES QUE VAN A USAR POQUITO **/

    /*Posicion de los items hijos desde el padre*/

    /*justify-items*/
    /*Distribuye los elementos en el eje horizontal*/
    justify-items: center;
    /*Valores mas utilizados: center, start, end*/

    /*aling-items*/
    /*Distribuye los elementos en el eje vertical*/
    align-items: center;

}

/** Aplicando desde el hijo **/

.rebelde {
    justify-self: start;
    /*eje horizontal*/

    align-self: start;
    /*eje vertical*/
}

/************** GRID AREAS ***************/

header {
    background-color: azure;
    grid-area: header;
}

nav {
    background-color: blanchedalmond;
    grid-area: nav;
}

.sectionA {
    background-color: bisque;
    grid-area: sectionA;

    /*Acá le agregamos flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Tambien box-modelling*/
    padding: 35px;
}

.sectionB {
    background-color: aquamarine;
    grid-area: sectionB;
}

aside {
    background-color: blueviolet;
    grid-area: publi;
}

footer {
    background-color: red;
    grid-area: pie;
}


/*ESTA CLASE ESTA EN EL BODY*/
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "pie pie pie "
    "sectionA sectionB publi"
    "nav nav header"
    ;
    
}


/**LOGO WHATSAPP**/

.logoWhats {
    width: 150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}